<div class="row">
    <div class="col-xs-12">
        <app-game 
        (intervalFired)="onIntervalFired($event)"
        (newNumbersArray)="clearData($event)"
        ></app-game>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" *ngFor="let number of numbers">
        <div *ngIf="number % 2 === 1">
            <app-odd [oddNumber]="number"></app-odd>
        </div>
        <div *ngIf="number % 2 === 0">
            <app-even [evenNumber]="number"></app-even>
        </div>
   </div>
</div>


